

<div class="songTips">
    <div class="left">
        <div class="tips"><span>200</span></div>
        <img src="images/3265549567416436.jpg" >
    </div>
    <div class="right">
        <p>偶像剧标配快歌搭慢歌,让活力与情感兼备</p>
        <div class="bot">
            <img src="images/18520173860077979.jpg" >
            <p>可尼晏</p>
        </div>
    </div>
</div>

<ol class="musiclist" style="position: relative;background: #fff;">
    <span class="audioAll" style="position: absolute;top:0;left:0;padding-left: 1rem;display: block;border-bottom: 1px solid #ccc;width:100%;height:0.4rem;line-height: 0.4rem;">播放全部</span>

</ol>

<div id="musicItem"  style="display: none">
    <li>
        <p class="music"></p>
        <p class="singerlist"></p>
    </li>
</div>